
@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR|Raleway&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Saira&display=swap');
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Noto',
   sans-serif;
}

h1 {
    text-align: center;
}

#outage-card {
    background: rgb(227, 233, 219);
}

.header-container {
    display: inline-flex; 
}

.notices {
    border: black 1px solid;
    
    margin-left: 200px; 
}

.status {
    border: black 1px solid;
    margin-left: 300px;
}